<?xml version="1.0" encoding="UTF-8"?>

<web-app
        xmlns:xsi="http://www.w3.org/2001/XMLSchema-instance"
        xmlns="http://xmlns.jcp.org/xml/ns/javaee"
        xsi:schemaLocation="http://xmlns.jcp.org/xml/ns/javaee
        http://xmlns.jcp.org/xml/ns/javaee/web-app_3_1.xsd"
        id="WebApp_ID" version="3.1"
>
  <display-name>Web Application</display-name>

  <servlet>
    <servlet-name>UserController</servlet-name>
    <display-name>UserController</display-name>
    <description></description>
    <servlet-class>view.UserController</servlet-class>
  </servlet>
  <servlet-mapping>
    <servlet-name>UserController</servlet-name>
    <url-pattern>/user/*</url-pattern>
  </servlet-mapping>

  <servlet>
    <servlet-name>ComplaintController</servlet-name>
    <display-name>ComplaintController</display-name>
    <description></description>
    <servlet-class>view.ComplaintController</servlet-class>
  </servlet>
  <servlet-mapping>
    <servlet-name>ComplaintController</servlet-name>
    <url-pattern>/complaint/*</url-pattern>
  </servlet-mapping>

  <servlet>
    <servlet-name>AdviceController</servlet-name>
    <display-name>AdviceController</display-name>
    <description></description>
    <servlet-class>view.AdviceController</servlet-class>
  </servlet>
  <servlet-mapping>
    <servlet-name>AdviceController</servlet-name>
    <url-pattern>/advice/*</url-pattern>
  </servlet-mapping>

</web-app>
